$white: #ffffff;
$black: #000000;

$main-grey: #6b6b6b;

$grey: #adadad;
$light-grey: #d4d2d2;
$xlight-grey: #f5efef;
$superlight-grey: #faf6f6;

$red: #eb5635;
$green: #2ecc71;
$blue: #89c3f2;
$orange: #f5d76e;
